.section-title {
  text-align: center;
  position: relative;
}
.section-title h3 {
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; /*font-family-rubik*/
  font-weight: 500;
  position: relative;
}

.section-title .horz-line {
  width: 120px;
  height: 5px;
  margin-right: auto;
  margin-left: auto;
}

.section-title p {
  margin-top: 32px;
  max-width: 580px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; /*font-family-lora*/
  font-size: 17px;
  letter-spacing: 1px;
}
